<!doctype html>
<html lang="{{ .Site.Language.Locale | default "en" }}">
<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ partial "sprite.html" . }}
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{/* Every page gets the band. The home page overrides the block and
       places it itself, right under the hero. */}}
  {{ block "quote" . }}{{ partial "quote.html" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ with resources.Get "js/site.js" }}
    {{ $js := . | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ end }}
  {{ block "scripts" . }}{{ end }}
</body>
</html>
